
.consultation {
    min-height: 800px;
    padding: 100px 0 110px 0;
    background: url(../../img/consultation.jpg) center center/cover no-repeat;
    .error {
        border: 1px solid red;
    }
    label {
        &.error {
            color: #fff;
            text-align: center;
            margin-bottom: 15px; 
            border: none;
        }
    }
}
.consultation__descr {
    color: #fff;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    margin-top: 8px;
}